<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="E:/Magento eCommerce Tests/Magento eCommerce Tests">
        <classes>
            <class name="createAccount.CreateAccountTests">
                <methods>
                    <include name="TC_1_User_can_create_account"/>
                </methods>
            </class>
            <class name="login.LoginTests">
                <methods>
                    <include name="TC_4_registered_user_can_sign_in"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>