<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Magento eCommerce Suite">
    <test name="My Account Tests">
        <classes>
            <class name="createAccount.CreateAccountTests">
                <methods>
                    <exclude name="TC_1_User_can_create_account"></exclude>
                </methods>
            </class>
            <class name="login.LoginTests"></class>
            <class name="myAccount.MyAccountTests"/>
        </classes>
    </test>
</suite>